.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 1em 2em;
}

.crypto-header {
    text-align: center;
    padding: 1em;
}

.crypto-header input {
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
    width: 15rem;
    border: 2px solid black;
}