nav {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

ul {
    list-style-type: none;
}

.logo {
    font-size:x-large;
    font-weight: 600;
    transition: 1s;
}

.logo:hover {
    scale: 1.1;
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

.nav-links li {
    margin-left: 1em;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 0.3rem;
    border-radius: 5%;
    font-size: large;
    position: relative;
    transition: 1s;
}

.nav-links li:hover {
    scale: 1.1;
}


.links {
    text-decoration: none;
}