nav {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

ul {
    list-style-type: none;
}

.logo {
    
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

.nav-links li {
    margin-left: 1em;
    text-decoration: none;
    
    padding: 0.5rem 0.3rem;
    border-radius: 5%;
    font-size: large;
}

.nav-links li:hover {
    border-bottom: 0.1em solid black;
}

.links {
    text-decoration: none;
}